
qt widget stuff::
QMenu //Myabe use as a quit icon so we can quit the application at any time
QCheckBox //check marks if you have the ingriendts
QRadioButton // so we could split recipes into high carbs, vegeterian and have the options appear
QSlider //slider on side to scroll down and up on the page
QGridLayout //can make it so when we make the screen bigger, all things increase in proportion
QBoxLayout // adds them all in porportion horizontally or vertically in layout

code stuff::
Virtual functions
template classes //in recipe.cc/h
Multiple inheritance
namespaces //everywhere
Programmer defined exceptions
Unions
Operator overloading
Abstract classes
Copy constructors (deep , shallow copy)
Bit structures
Advanced pre-processor directives
C++ Object Construction Sequence
Initializer List
C++ References //references in in recipe.cpp/h
Pointers
Inheritance
Destructors
Memory management
Header files (inclusion guards)
Arrays and pointers //pointers in recipe.cpp/h
Friendship
Global variables
Private, Public, Protected //public & private in in recipe.cpp/h