QT STUFF:
QMenu ✔
QCheckBox ✔
QRadioButton ✔
QSlider ✔ 	
QGRidlayout✔ 
QBoxLayout ✔ 

Virtual functions ✔
template classes ✔🆇 (attempted)
Multiple inheritance ✔ 
namespaces ✔
Programmer defined exceptions ✔🆇 (attempted)
Unions 🆇
Operator overloading 🆇
Abstract classes ✔
Copy constructors (deep , shallow copy) ✔
Bit structures 🆇
Advanced pre-processor directives 🆇
C++ Object Construction Sequence ✔
Initializer List ✔
C++ References ✔
Pointers ✔
Inheritance ✔
Destructors ✔
Memory management ✔
Header files (inclusion guards) ✔
Arrays and pointers ✔ 🆇 (pointers with vectors)
Friendship ✔ 
Global variables ✔
Private, Public, Protected ✔